{% extends 'shared/base.html' %}
{% load static %}

{% block content %}
<div class="vh-100 p-5 bg-primary text-secondary text-center">   
    <h1>Blog</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim iusto, necessitatibus provident perspiciatis quod corporis nemo sed excepturi itaque nulla dolore esse nisi tempore tenetur est aut, repellat facere nesciunt.
    </p>
</div>

<div class="vh-100 p-5 bg-secondary text-primary text-center">   
    <h1>Blog</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim iusto, necessitatibus provident perspiciatis quod corporis nemo sed excepturi itaque nulla dolore esse nisi tempore tenetur est aut, repellat facere nesciunt.
    </p>
</div>


{% endblock %}