{% extends 'shared/base.html' %}
{% load static %}

{% block content %}

{% with main_text='Prise de vue photo/vidéo aérienne de votre résidence' %}
{% include "block/cover_onepage.html" with videoname='video/home_0_video.mp4' postername="video/home_0_video.jpg" main_title=home.0_big_title main_text=home.0_sub_big_title %}
{% endwith %}

{% load custom_tags %}

<div class="container-sm d-flex flex-column align-items-center bg-white p-5"> 
    <div class="row justify-content-center">
        <div class="col-sm-10 text-center">
            <h2> {{home.1_title}} </h2>
            <p class="p">
                {{home.1_paragraphe}}
            </p>
        </div>
    </div>
</div>

{% with title=home.2_1_title p=home.2_1_paragraphe %}
{% include "block/img_next_to_p.html" with left="true" p=p title=title img="img/home_2_1.jpg" img_alt="aerial view from drone" %} 
{% endwith %}

{% with title=home.2_2_title p=home.2_2_paragraphe %}
{% include "block/img_next_to_p.html" with right="true" p=p title=title img="img/home_2_2.jpg" img_alt="aerial view from drone" %} 
{% endwith %}

{% with title=home.2_3_title p=home.2_3_paragraphe %}
{% include "block/img_next_to_p.html" with left="true" p=p title=title img="img/home_2_3.jpg" img_alt="aerial view from drone" %} 
{% endwith %}

{% with title=home.2_4_title  p=home.2_4_paragraphe %}
{% include "block/img_next_to_p.html" with right="true" p=p title=title img="img/home_2_4.jpg" img_alt="aerial view from drone" %} 
{% endwith %}

<div id="map" zoom="{% custom_json 'home.zoom' %}"  lat="{% custom_json 'home.lat' %}"  lng="{% custom_json 'home.lng' %}" class="vh-40"></div>
<div data-script="{% static 'map.js' %}" class="lazyload">

<div class="text-center p-4 p-sm-5">
        <h2> {{home.3_title}} </h2>
        <div class="row">
            <div class="col-sm-4 my-3">
                <h3> {{home.3_1_title}} </h3>
                <p class="p">
                    {{home.3_1_paragraphe}} 
                </p>    
            </div>
            <div class="col-sm-4">
                <h3> {{home.3_2_title}} </h3>
                <p class="p">
                    {{home.3_2_paragraphe}} 
                </p>
            </div>
            <div class="col-sm-4">
                <h3> {{home.3_3_title}} </h3>
                <p class="p">
                    {{home.3_3_paragraphe}} 
                </p>
            </div>
        </div>
</div>

<div class="container text-center py-5">
    <br>
    <div class="text-center">
        <button id="btn-modal-contact" type="button" class="btn btn-outline-primary btn-lg px-5">Contactez-nous</button>
    </div>
    <br><br><br>
</div>

{% endblock %}