{% extends 'shared/base.html' %}
{% load static %}

{% block content %}

{% include "block/banner_inpage.html" with css_img="bg-img-home" main_title=work.0_big_title video='video/work_0_video.mp4' postername="video/work_0_video.jpg" %}

<div class="container py-sm-5">
    <div class="row">

        <div class="col-12 p-3 py-sm-5 g-0">
            <div class="card mx-3 m-sm-3">
                <div class="row g-0">
                    <div class="col-md-6">
                        <img data-src="{% static 'img/work_1.jpg' %}" class="lazyload img-fluid img-cover rounded-start" alt="aerial photo of house take with dji drone">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body position-relative top-50 start-50 translate-middle">
                            <h2 class="text-center">{{work.1_title}}</h2>
                            <p class="text-start card-text">{{work.1_description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 p-3 py-sm-5 g-0">
            <div class="card mx-3 m-sm-3">
                <div class="row g-0">
                    <div class="col-md-6">
                        <div class="card-body position-relative top-50 start-50 translate-middle">
                            <h2 class="text-center">{{work.2_title}}</h2>
                            <p class="text-end card-text">{{work.2_description}}</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img data-src="{% static 'img/work_2.jpg' %}" class="lazyload img-fluid img-cover rounded-end" alt="aerial picture of house from drone">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 p-3 py-sm-5 g-0">
            <div class="card mx-3 m-sm-3">
                <div class="row g-0">
                    <div class="col-md-6">
                        <img data-src="{% static 'img/work_3.jpg' %}" class="lazyload img-fluid img-cover rounded-start" alt="aerial photo of house take with dji drone">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body position-relative top-50 start-50 translate-middle">
                            <h2 class="text-center">{{work.3_title}}</h2>
                            <p class="text-start card-text">{{work.3_description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 p-3 py-sm-5 g-0">
            <div class="card mx-3 m-sm-3">
                <div class="row g-0">
                    <div class="col-md-6">
                        <div class="card-body position-relative top-50 start-50 translate-middle">
                            <h2 class="text-center">{{work.4_title}}</h2>
                            <p class="text-end card-text">{{work.4_description}}</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img data-src="{% static 'img/work_4.jpg' %}" class="lazyload img-fluid img-cover rounded-end" alt="aerial picture of house from drone">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container text-center py-5">
        <div class="text-center">
            <button id="btn-modal-contact" type="button" class="btn btn-outline-primary btn-lg px-5">Contactez-nous</button>
        </div>
    </div>
</div>

{% endblock %}