{% load static %}




<div class="row p-sm-5 m-sm-5 justify-content-center text-center">
    <!-- IF mobile (d-sm-none) -->
    <div class="d-sm-none col-12 mb-4 g-0"> 
        <div class="card">
            <img data-src="{% static img %}" alt="img_alt" class="card-img lazyload img_filter_brigh">
            <div class="card-img-overlay d-flex justify-content-center align-items-center flex-column text-center text-white">
                <h2>{{title}}</h2>
            </div>
        </div>
    </div>
    <div class="d-sm-none col-10 py-5 align-self-center text-center">
        <p>{{p}}</p>
    </div>

    <!-- ELSE (d-none d-sm-block) -->
    {% if left %}
        <div class="d-none d-sm-block col-3 mb-4 g-0"> 
            <div class="card">
                <img data-src="{% static img %}" alt="img_alt" class="card-img lazyload">
            </div>
        </div>
        <div class="d-none d-sm-block col-9 p-5 align-self-center text-start">
            <h2>{{title}}</h2>
            <p>{{p}}</p>
        </div>
    {% else %}
        <div class="d-none d-sm-block col-9 p-5 align-self-center text-end">
            <h2>{{title}}</h2>
            <p>{{p}}</p>
        </div>
        <div class="d-none d-sm-block col-3 mb-4 g-0"> 
            <div class="card">
                <img data-src="{% static img %}" alt="img_alt" class="card-img lazyload">
            </div>
        </div>
    {% endif %}

</div>
