<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Vidéo et Photo Aérienne par Drone en Région Sud PACA - Sublimer votre propriété</title>
    <meta name="description" content="Offrez une perspective unique à votre gîte ou villa avec nos services de vidéo et de photo par drone en région Sud Paca. Rendez votre propriété encore plus charmante et attrayante." />

    {% load sass_tags %}
    <link href="{% sass_src 'style.scss' %}" rel="stylesheet" type="text/css" />
    <link rel = "stylesheet" href = "https://fonts.googleapis.com/css?family=Raleway">  
    <link rel="canonical" href="https://drone-photovideo.fr" />
    <link rel="alternate" href="https://drone-photovideo.fr" hreflang="fr" />

    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet/dist/leaflet.css" crossorigin=""/>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js" crossorigin=""></script>

    {% load static %}
    <script src="{% static 'js/lazysizes.min.js' %} " async=""></script>
    <script src="{% static 'js/ls.unveilhooks.min.js' %} " async=""></script>

    {% load bootstrap5 %}
    <!-- {% bootstrap_css %} -->
    {% bootstrap_javascript %}

</head>
<body>
  <header class="position-absolute container-fluid p-4 zindex-100">
    <div class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Accueil</a></li>
        <!-- <li class="nav-item"><a href="/prestations" class="nav-link">Prestations</a></li> -->
        <li class="nav-item"><a href="/realisations" class="nav-link">Exemple</a></li>
        <li class="nav-item"><a href="/tarifs" class="nav-link">Tarifs</a></li>
        <!-- <li class="nav-item"><a href="/blog" class="nav-link">Blog</a></li> -->
      </ul>
    </div>
  </header>
  <div class="container-fluid p-0">
      {% block content %}
      {% endblock %}
  </div>

  <div class="container">
    <footer class="py-3 my-4">
      <!-- <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Accueil</a></li>
        <li class="nav-item"><a href="/contact" class="nav-link px-2 text-body-secondary">Contactez-nous</a></li>
        <li class="nav-item"><a href="/apropos" class="nav-link px-2 text-body-secondary">A propos</a></li>
      </ul> -->
      <p class="text-center text-body-secondary">© 2023 Epsiware</p>
    </footer>
  </div>
</body>
</html>