<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% load static %}
  {% load sass_tags %}
  {% load bootstrap5 %}

  <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}" >

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E2NGXSWC83"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E2NGXSWC83');
  </script>


  <!-- SEO -->
    <title>Vidéo et photo aérienne par drone en Région Sud PACA </title>
    <meta name="description" content="Offrez une perspective unique à votre gîte ou villa avec nos prestations de vidéo par drone en région Sud Paca. Rendez votre propriété attrayante." />

    <link rel = "stylesheet" href = "https://fonts.googleapis.com/css?family=Raleway">  
    <link rel="canonical" href="https://drone-photovideo.fr" />
    <link rel="alternate" href="https://drone-photovideo.fr" hreflang="fr" />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org/",
        "@type": "Product",
        "name": "Vidéo drone",
        "image": [
          "https://drone-photovideo.fr/static/img/villa.jpg",
          "https://drone-photovideo.fr/static/img/piscine.jpg",
          "https://drone-photovideo.fr/static/img/ex_villa.jpg"
         ],
        "description": "Vidéo de 30 secondes",
        "brand": {
          "@type": "Brand",
          "name": "Epsiware"
        },
        "review": {
          "@type": "Review",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": 5,
            "bestRating": 5
          },
          "author": {
            "@type": "Person",
            "name": "Marc Zapa"
          }
        },
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": 4.8,
          "reviewCount": 9
        },
        "offers": {
          "@type": "Offer",
          "url": "https://drone-photovideo.fr/tarifs/",
          "priceCurrency": "EUR",
          "price": 390,
          "priceValidUntil": "2023-07-01",
          "itemCondition": "https://schema.org/UsedCondition",
          "availability": "https://schema.org/InStock"
        }
      }
      </script>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet/dist/leaflet.css" crossorigin=""/>
    <link href="{% sass_src 'style.scss' %}" rel="stylesheet" type="text/css" />
    {% bootstrap_css %}

    <!-- JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->

    <script src="https://unpkg.com/leaflet/dist/leaflet.js" crossorigin=""></script>

    <script src="{% static 'js/lazysizes.min.js' %} " async=""></script>
    <script src="{% static 'js/ls.unveilhooks.min.js' %} " async=""></script>
    <script src="{% static 'js/script.js' %} " async=""></script>
    {% bootstrap_javascript %}

    

</head>
<body>
  <header id="top" class="position-absolute container-fluid p-4 zindex-100">
    <div class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Accueil</a></li>
        <!-- <li class="nav-item"><a href="/prestations" class="nav-link">Prestations</a></li> -->
        <li class="nav-item"><a href="/realisations" class="nav-link">Exemple</a></li>
        <li class="nav-item"><a href="/tarifs" class="nav-link">Tarifs</a></li>
        <!-- <li class="nav-item"><a href="/blog" class="nav-link">Blog</a></li> -->
      </ul>
    </div>
  </header>

  <!-- Modal contact (shared) -->
  <div id="modal-contact" class="modal">

    <!-- Modal content -->
    <div class="container modal-content p-5">
      <span class="close">&times;</span>
      <h3>Contactez-nous</h3>
      <p>drone.photovideo.pro@gmail.com</p>
    </div>

  </div>

  <div class="container-fluid p-0">
      {% block content %}
      {% endblock %}
  </div>

  <div class="container">
    <footer class="py-3 my-4">
      <!-- <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Accueil</a></li>
        <li class="nav-item"><a href="/contact" class="nav-link px-2 text-body-secondary">Contactez-nous</a></li>
        <li class="nav-item"><a href="/apropos" class="nav-link px-2 text-body-secondary">A propos</a></li>
      </ul> -->
      <p class="text-center text-body-secondary">© 2023 Epsiware <a style="text-decoration: none" href="#top">🔝🔝</a> </p>
    </footer>
  </div>
</body>
</html>